
  
  * { color:#fff; text-decoration: none;}



  section {
    /*background: #faebab;*/
  }
  h1{
    color: #fff;
  }
  h3.div_h3 {
    color: #fff;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    font-size: 1.17em;
    font-weight: normal;
  }

  body {
    font-family: "Roboto", "Arial",sans-serif;
    height: 100vh;
    line-height: 1.3;

    background-color: #ffffff;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color:#fff;

  }
  img{
    width: 70%;
    padding-top: 20px;
  }
  .img2{
    padding-top: 1ch;
    width: 100%;
    background-color: #ffffff;
    line-height: 1.3;
    margin-bottom: 0;
    padding-bottom: 0;

  }
  .img3{
    width: 100%;
    height: 320px;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    text-shadow: 4px 4px 5px #3d3d3d9b;
  }
  .img3_title{
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    text-align:center;
    font-family: sans-serif;
    
  }


  main p {
    color: white;
    font-size: 4vw;
    font-weight: 300;
  }
  main p .highlight {
    background: white;
    color: #673AB7;
    font-size: 4vw;
  }

  .bg-slider {
    width: 100%;
    height: 320px;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .bg-slider_title{
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    text-align:center;
  }
  .first_typewrite{
    position: relative;
    color: #fff;
    font-size: 48px;
    line-height: 1.5;

    text-align:center;
    font-family: ff-market-web,sans-serif;
    font-weight: 400;
    font-style: normal;

  }
  .type_div{
    width: 100%;
    height: 320px;
    top: 0px;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;

  }
  @media screen and (max-width:450px) {
    .first_typewrite {
      font-size: 36px;
    }
  }
  @media screen and (max-width:450px) {
    .img3_title {
      font-size: 36px;

    }
  }





.btn{
  width:200px;

  /*font-family: 'HGP行書体',cursive;*/

}
.btn a{
  
  display:block;
  text-decoration: none;
  
  color:#fff;
  text-align:center;
  /*border:5px solid #ffffff;*/
  padding: 50px;
  font-size:16px;
  font-weight:bold;
  border-radius:3px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}
.btn a:hover{

  margin-left:0px;
  margin-top:0px;
  /*border:5px solid #FFFFFF;*/
  box-shadow:none;
  
  color:#FFFFFF;
}
.title{
  width:200px;
}
.title a{

  background-color: #38383881;
  display:block;
  text-decoration: none;
  
  color:#fff;
  text-align:center;
  /*border:5px solid #ffffff;*/
  padding: 50px;
  font-size:16px;
  font-weight:bold;
  border-radius:3px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s ease;

}
.title a:hover{

  margin-left:0px;
  margin-top:0px;
  /*border:5px solid #FFFFFF;*/
  box-shadow:none;
  background-color:rgba(255, 99, 71, 0.6);
  color:#FFFFFF;
}

.train a:hover{

  background-image: url(https://free-materials.com/adm/wp-content/uploads/2019/01/adpDSC_2632-750x500.jpg) ;
  background-color:rgba(255, 99, 71, 0.6);
  background-blend-mode:overlay;
}





  .channel_01{

    font-size:24px;
    font-weight:bold;
    padding-top: 10px;
    /*font-family: 'HGP行書体',cursive;*/
  
  
  
  }
  
    .hidden_show{
      background-color: rgb(255, 166, 151);
  
    }

    .btn-circle-1 label {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      text-align: center;
      border-radius:10px;
      transition: 0.5s;
      cursor :pointer;

  
    }
    

    .btn-circle-1 input {
      display: none;
    }
    .btn-circle-1 .hidden_show {
      height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: max-height 0.5s;
      transition: max-height 0.5s;
  }
  
  /*クリックで中身表示*/
  .btn-circle-1 input:checked ~ .hidden_show {
  
      height: auto;
      opacity: 1;
  }
  

  .title-border {
    display: flex;
    align-items: center;
    color: #fff;
    }
    .title-border:before,
    .title-border:after {
    border-top: 2px solid;
    content: "";
    flex-grow: 1;
    }
    .title-border:before {
    margin-right: 1rem;
    }
    .title-border:after {
    margin-left: 1rem;

    }
    .title-border:hover{
      color: #ff6347;
    }
    